.container__clip{
    width: 100%;
    height: 600px;

    text-align: center;
}
.container__heading{
    display: flex;
    width: 80%;
    margin-left: 10%;
    position: absolute;
    margin-top: 350px;
    color: white;
    font-size: 1.4rem;
}
.heading__poster{
    border-radius: 12px;
    margin-right: 6px;
}
.heading__container-content{
    margin-left: 12px;
}
.heading__title__movie{
    text-transform: uppercase;
}
.background{
    width: 100%;
    height: 50vh;
    background-position: unset;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20%;
}